.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 357px;
  height: 344px;
  margin: 0 32px;
  border-radius: 8px;
  color: #fafafa;
  background-color: #8baa36;
  position: relative;
  overflow: hidden;
}

.iconContainer:hover .icon {
  transform: scale(1.2);
  transition: transform 500ms;
}

.iconContainer:hover .imageBackground {
  transform: scale(1.2);
  transition: transform 500ms;
}

.icon {
  transition: transform 500ms;
  width: 64px;
  height: 64px;
  color: #fafafa;
}

.input {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}

.imageBackground {
  transition: transform 500ms;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
