.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 357px;
  height: 344px;
  margin: 0 32px;
  border-radius: 8px;
  color: #fafafa;
  background-color: #8baa36;
}

.iconContainer:hover {
  color: black;
}

.icon {
  stroke: currentColor;
  fill: currentColor;
}
