.Newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;

}

.NewsletterAddon {
  display: none;
}

@media screen and (min-width: 768px) {
  .Newsletter {
    flex-basis: 100%;
    margin-top: 50px;
  }

  .NewsletterAddon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .Newsletter {
    flex-basis: 0;
    margin-top: 0;
  }

  .NewsletterAddon {
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 339px;

    color: var(--footerText);

    cursor: default;
  }

  .NewsletterTitle {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
  }

  .NewsletterText {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
  }
}
