.mainPageSection {
  width: 100vw;
}
.container {
  display: block;
  position: relative;
  width: 100vw;
  padding-top: 50px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  margin-left: 40px;
  color: black;
}

.element {
  border-radius: 30%;
  width: 8px;
  height: 8px;
  transform: rotate(25deg);
}

.element_one {
  margin: 0;
  position: absolute;
  background-color: #8baa36;
  left: 105px;
  top: 15px;
}

.element_two {
  margin: 0;
  position: absolute;
  background-color: #8baa36;

  left: 333px;
  top: 41px;
}

.element_three {
  background-color: #22252a;
  width: 6px;
  height: 6px;
  margin: 0;
  position: absolute;
  left: 231px;
  top: 80px;
  transform: rotate(25deg);
}


@media (min-width: 768px) {
  .container {
    padding-top: 72px;
    width: 704px;
  }

  .title {
    font-size: 32px;
    line-height: 1;
  }

  .element {
    width: 14px;
    height: 14px;
  }

  .element_one {
    margin: 0;
    position: absolute;
    left: 180px;
    top: 30px;
  }

  .element_two {
    margin: 0;
    position: absolute;
    left: 696px;
    top: 41px;
  }

  .element_three {
    border-radius: 30%;
    width: 12px;
    height: 12px;
    margin: 0;
    position: absolute;
    left: 390px;
    top: 102px;
  }
 
}

@media (min-width: 1280px) {
  .container {
    padding-top: 104px;
    width: 1240px;
  }

  .title {
    font-size: 44px;
  }

  .element_one {
    margin: 0;
    position: absolute;
    left: 258px;
    top: 64px;
  }

  .element_two {
    margin: 0;
    position: absolute;
    left: 1170px;
    top: 70px;
  }

  .element_three {
    margin: 0;
    position: absolute;
    left: 710px;
    top: 140px;
  }
 
}
.title.darkTheme {
  color: #fff;
}
.element_three.darkTheme {
  background-color: #fff;
}
