.AddIngredientName {
  box-sizing: border-box;
  width: 66%;
  max-width: 398px;
  height: 53px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.input {
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 6px;
  background-color: #d9d9d950;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00000050;
  padding: 16px;
}

.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 16px;
  padding: 0;
}
