.RecipeSteps {
  display: flex;
  flex-direction: column;
  gap: 28px;
  cursor: default;
}

.RecipeStepsTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--addStepTitle);
  margin: 0;
}

.RecipeStepsText {
  width: 343px;
}
