.HomeAtomButton {
  background-color: var(--accent);
  width: 5.8em;
  height: 2.3em;
  border-radius: 0.37em;
  border: none;
  color: var(--primaryColor);
  font-family: var(--font-family);
  font-size: 0.87em;
  margin-top: 0.7em;

  @media screen and (min-width: 30em) {
    margin-top: 1.2em;
  }
  @media screen and (min-width: 48em) {
    margin-top: 1.46em;
  }
}

.HomeAtomButton:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
}
