.mealName {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #3e4462;
  margin-top: 0;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .mealName {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1240px) {
  .mealName {
    margin-bottom: 50px;
  }
}
