.Description {
  display: flex;
  flex-direction: column;

  gap: 10px;
  justify-content: flex-start;
}

.NameWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .Description {
    gap: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .Description {
    gap: 20px;
  }
}
