.Page404Title {
font-family: var(--font-family);
    font-weight: var(--font-mediumBold);
    font-size: 1.125rem;
    color: var(--secondaryColor);
    margin: 0;
}

@media screen and (min-width: 768px) {
    .Page404Title {
        font-size: 1.75rem;
    }
}