.RecipeBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
  background-color: var(--primaryColor);
}

.RecipeData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RecipeAddons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .RecipeBox {
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .RecipeBox {
    gap: 54px;
  }
}
