.burgerIcon {
  display: block;
  height: 28px;
  border: none;
  background-color: var(--addInputBgDark);
}

@media screen and (min-width: 768px) {
  .burgerIcon {
    height: 32px;
  }
}

@media screen and (min-width: 1240px) {
  .burgerIcon {
    display: none;
  }
}
