.FooterTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: default;
}

.FooterLogo {
  width: 32px;
  height: 32px;
}

.FooterTitleText {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .FooterTitle {
    gap: 12px;
  }

  .FooterLogo {
    width: 44px;
    height: 44px;
  }

  .FooterTitleText {
    font-size: 1.8rem;
  }
}
