.description {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #23262a;
  margin: 0;
  overflow: hidden;
  max-width: 153px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 14px;
    line-height: 1.29;
    max-width: 298px;
  }
}

@media screen and (min-width: 1240px) {
  .description {
    font-size: 18px;
    line-height: 1.33;
    max-width: 679px;
  }
}
