.AddRecipeCloseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  background: none;
  outline: none;
  width: 18px;
  height: 18px;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: #333;
}
