.RecipeBanner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-image: url(client/images/pages/recipe/recipe-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .RecipeBanner {
    background-image: url(client/images/pages/recipe/recipe-bg-tablet.png);
  }
}

@media screen and (min-width: 1024px) {
  .RecipeBanner {
    background-image: url(client/images/pages/recipe/recipe-bg-desktop.png);
  }
}
