.page404_container {
    position: relative;
    background-image: url('#images/pages/Page404/bro_mobile.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.page404__image {
    position: relative;
    top: 0;
    left: 0;
    width: 259px;
    height: 170px;
    z-index: 1;
    
        @media screen and (min-width: 768px) {
            .page404_container {
                background-image: url('#images/pages/Page404/bro_tablet.png');
            }
        }
    
        @media screen and (min-width: 1024px) {
            .page404_container {
                background-image: url('#images/pages/Page404/bro_desktop.png');
            }
        }
}

/* .page404_text {
    position: relative;
    z-index: 2;
    /* Ustawienie warstwy z-indeksu tekstu wyżej niż obrazka */
