.BannerElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  width: 300px;
}

@media screen and (min-width: 768px) {
  .BannerElements {
    gap: 30px;
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .BannerElements {
    gap: 30px;
    width: 650px;
  }
}
