.RecipeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  width: 343px;
  margin: 18px auto 0;
}

@media screen and (min-width: 768px) {
  .RecipeDetails {
    align-items: flex-start;
    gap: 50px;

    width: 704px;
    margin: 50px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .RecipeDetails {
    flex-direction: row;
    justify-content: space-between;

    width: 1240px;
  }
}
