.AddTimeInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #00000050;
  font-weight: 400;
  font-size: 14px;
  color: #00000050;
}
.inputContainer {
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  position: relative;
  padding-right: 25px;
  gap: 5px;
  color: #000;
}
.input {
  background: none;
  border: none;
  outline: none;
  text-align: right;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  padding: 0;
}
