.common {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 18px 44px;
    background-color: #8baa36;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
  }
  
  .common:hover {
    background-color: #22252a;
  }
  
  .lnk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    border: none;
  }
  
  .outlined {
    border: 2px solid #8baa36;
    color: #3e4462;
    background-color: transparent;
  }
  
  .outlined:hover {
    color: #fff;
    background-color: #8baa36;
  }
  
  .outlinedInverted {
    border: 2px solid #fff;
    background-color: transparent;
  }
  
  .outlinedInverted:hover {
    border: 2px solid #8baa36;
    color: #8baa36;
    background-color: transparent;
  }
  
  .dark {
    background-color: #22252a;
  }
  
  .dark:hover {
    background-color: #8baa36;
  }
  
  .welcome:hover {
    color: #fff;
    background-color: #8baa36;
  }
  
  .btn:disabled {
    background-color: #7e7e7e;
    color: #fafafa;
    cursor: not-allowed;
  }
  
  .common:hover:disabled {
    background-color: hsla(0,0%,49%,.5);
  }