.RecipeTitleAtom {
  font-size: 1rem;
  background-color: var(--primaryColor);
  letter-spacing: -0.01em;

  padding: 1em;
  position: absolute;
  bottom: 1.6em;
  height: 3.2em;
  border-radius: 0.5em;
  width: 80%;
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
  @media screen and (min-width: 48em) {
    bottom: 1.5em;
  }
  @media screen and (min-width: 30em) {
    height: 3.75em;
  }
}
