.LogOutModal {
  background-color: var(--primaryColor);
  border-radius: 30px;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);
  padding: 44px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  max-width: 330px;
}

.LogOutCloseButton {
  position: relative;
  top: 45px;
  left: 285px;
  stroke: var(--closeIcon);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.LogOutText {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.LogOutFormButtons {
  display: flex;
  flex: row;
  gap: 8px;
}

.LogOutFormButton {
  display: flex;
  width: 137px;
  height: 49px;
}

@media screen and (min-width: 768px) {
  .LogOutModal {
    padding: 50px 40px;
    gap: 32px;
    max-width: 480px;
  }

  .LogOutCloseButton {
    top: 45px;
    left: 435px;
  }

  .LogOutText {
    font-size: 1.125rem;
  }

  .LogOutFormButtons {
    gap: 16px;
  }

  .LogOutFormButton {
    width: 192px;
    height: 59px;
  }
}

@media screen and (min-width: 1024px) {
  .LogOutModal {
    padding: 50px;
    max-width: 500px;
  }
  .LogOutCloseButton {
    top: 45px;
    left: 455px;
  }
}
