.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  background-color: #ebf3d4;
}

.closeButton {
background-color: transparent;
font-size: 16px;
color: #22252a;
}

.icons {
  display: flex;
  justify-content: space-between;
}
