.AddIngredientUnit {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 99px;
  height: 53px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #00000050;

  border-radius: 6px;
  background-color: #d9d9d950;
  padding: 16px 12px 16px 1px;
}

.inputAmount {
  width: 50%;

  background: none;
  border: none;
  outline: none;

  text-align: right;
  color: #00000050;
}

.inputUnit {
  width: 50%;

  background: none;
  border: none;
  outline: none;
  
  text-align: right;
  color: #00000050;
}

.icon {
  width: 18px;
  height: 18px;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}
