.ProfilePhotoEdit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProfilePhotoEditImage {
  position: relative;
  left: 15px;
}

.ProfilePhotoEditButton {
  position: relative;
  top: 60px;
  left: -10px;
  max-width: 25px;
  max-height: 25px;

  stroke: none;
  fill: var(--accent);
  transition: ease-in-out 0.25s;

  cursor: pointer;
}

.ProfilePhotoEditButton:hover {
  fill: #a2c445;
  transition: ease-in-out 0.25s;
}

@media screen and (min-width: 768px) {
  .ProfilePhotoEditButton {
    top: 75px;
  }
}
